h1{
    font-size:24pt;
    color:brown;
}
h2{
    font-size:14;
    font-weight: bold;
    color:red;   
}
p{
    font-size:12;
    font-weight: bold;
    color:black;     
}
body{
    background-color: bisque;
    border: black;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}
.A1{
    text-align: right;
}
.first{
    font-size:14;
    font-weight: bold;
    color:black; 
    
}
.li{
    list-style: none;
}

.linker{
    margin-left: 30px;
}
#latestComment{
    font-style: italic;
    color:red;
  
}
[title]{
    cursor: help;
    padding-bottom: 3px;
    border-bottom: 2px dotted blue;
    text-decoration: none;
}
a:link{
    text-decoration: underline;
    color: blue;
}
a:visited{
    text-decoration: underline;
    color: purple;
}
a:hover{
    text-decoration: none;
    font-weight: bold;
}
a:active{
    background-color: yellow;
}
.last{
    color: blue;
}
#verylast{
    color:red;
}
